body {
    background-color: #1B1F3A;
    width: 100%;
    color: #F2B950;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
    margin: 0
}

/****************************************
HEADER BAR 
****************************************/

header {
    background-color: #008F9F;
    color: #F2F2F2;
    width: 100%;
    height: 8%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.home {
    padding-left: 10px;
}

.settings-icon {
    padding-right: 10px;
    cursor: pointer;
}

.settings-icon:hover {
    transform: rotate(180)
}

.player {
    display: flex;
    flex-direction: column;
}

h2 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.tally {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.tally-tag {
    display: flex;
    align-items: center;
}

[class*="tally-count"] {
    display: flex;
    align-items: center;
}

/****************************************
GAME BOARD
****************************************/

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.board-overlay {
    outline-width: 3px;
    outline-style: solid;
    outline-color: #1B1F3A;
    outline-offset: -3px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    cursor: pointer;
    font-size: 150px;
}

.square {
    border-width: 3px;
    border-style: solid;
    border-color: #F97E11;
    display: grid;
    place-items: center;
}

.win {
    text-emphasis: bold;
}

.restart {
    cursor: pointer;
}

h3 {
    color: white;
    font-size: 1.3em;
    margin-top: 40px;
    margin-bottom: 10px;
}


/****************************************
SETTINGS
****************************************/

.settings-menu {
    background-color: #008F9F;
    color: #F2F2F2;
    height: 100%;
    top: 8%;
    right: 0; 
    position: absolute;
    width: 0px; 
    transition: width 0.7s;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    visibility: collapse;
}


.settings-show {
    width: 160px;
    visibility: visible;
}

.menu-header {
    position: relative;
    color: #F2F2F2;
    top: 10px;
    left: 5px;
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    font-size: 16px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}

.menu-list {
    list-style-type: none;
    padding-left: 0px;
}

li {
    margin-bottom: 4px;
    cursor: pointer;
    padding: 5px 0px 5px 15px;
    width: 150px;
    position: relative;
}

li:hover {
    filter:brightness(80%)
}

.hide {
    display: none;
}

/* toggle-switch */
.multiplayer {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 5px;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 40%;
	height: 30px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	left: 0.1px;
	width: 30px;
	height: 30px;
	background: #fff;
	border-radius: 30px;
	transition: 0.3s;
}

input:checked + label:after {
	left: calc(100%);
	transform: translateX(-100%);
}








